/* styles.css */

/* Add your custom styles for the info-box class here */
.info-box {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    font-size: 18px;
  }
  
  .info-box h3 {
    margin-top: 0;
  }
  
  .info-box p {
    margin: 5px 0;
  }
  
  .early-game-container {
    background-color: black;    /* Set the background color to a light gray */
    border: 1px solid #999999;    /* Add a subtle border around the section */
    border-radius: 10px;          /* Set border radius for slightly rounded corners */
    padding: 15px;                /* Add padding to create space between content and border */
    box-shadow: 2px 2px 5px #888888;  /* Add a subtle box-shadow for an elegant effect */
    position: relative;
  }

  .first-blood-container {
    background-color: rgba(43, 40, 40, 0.7);  /* Set the background to a light black */
    padding: 10px;  /* Add padding inside the div */
    border-radius: 8px;  /* Set border radius for rounded corners */
    margin-top: 10px; /* Add a subtle box-shadow for an elegant effect */
    max-width: 300px;
  }

  .early-radioButtons-container {
    background-color: rgba(43, 40, 40, 0.7);  /* Set the background to a light black */
    padding: 10px;  /* Add padding inside the div */
    border-radius: 8px;  /* Set border radius for rounded corners */
    margin-top: 10px; /* Add a subtle box-shadow for an elegant effect */
    margin-right: 10px;
    max-width: 150px;
    position: absolute;
    top:0px;
    right:5px;
  }

  .agression-container {
    background-color: black;    /* Set the background color to a light gray */
    border: 1px solid #999999;    /* Add a subtle border around the section */
    border-radius: 10px;          /* Set border radius for slightly rounded corners */
    padding: 15px;                /* Add padding to create space between content and border */
    box-shadow: 2px 2px 5px #888888;  /* Add a subtle box-shadow for an elegant effect */
    position: relative;
    margin-top: 10px;
  }

  .cpool-container {
    background-color: black;    /* Set the background color to a light gray */
    border: 1px solid #999999;    /* Add a subtle border around the section */
    border-radius: 10px;          /* Set border radius for slightly rounded corners */
    padding: 15px;                /* Add padding to create space between content and border */
    box-shadow: 2px 2px 5px #888888;  /* Add a subtle box-shadow for an elegant effect */
    position: relative;
    margin-top: 10px;
    height: 700px;
  }

  .vis-network{
    height: 800px;
  }

  .aggr-data-container {
    background-color: rgba(43, 40, 40, 0.7);  /* Set the background to a light black */
    padding: 10px;  /* Add padding inside the div */
    border-radius: 8px;  /* Set border radius for rounded corners */
    margin-top: 10px; /* Add a subtle box-shadow for an elegant effect */
    max-width: 200px;
  }

  .aggr-radioButtons-container {
    background-color: rgba(43, 40, 40, 0.7);  /* Set the background to a light black */
    padding: 10px;  /* Add padding inside the div */
    border-radius: 8px;  /* Set border radius for rounded corners */
    margin-top: 10px; /* Add a subtle box-shadow for an elegant effect */
    margin-right: 10px;
    max-width: 150px;
    position: absolute;
    top:0px;
    right:5px;
  }

  .cpool-bubble{
    position: absolute;
    margin-top: 100px;
  }

  .cpool-expl-box{
    margin-top: 5px;
    margin-right: 5px;
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 100px;
    appearance: none;
    transition: border 0.15s ease 0s;
    :focus{
        outline: none;
        box-shadow: none;
        border-color: rgb(100, 153, 255);
    }
  }

#btn_section1,
#btn_section2,
#btn_section3,
#btn_section4 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #6f7277;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btn_section1:hover,
#btn_section1:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#btn_section1:active {
  background: var(--color);
  color: #fff;
}

#btn_section2:hover,
#btn_section2:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#btn_section2:active {
  background: var(--color);
  color: #fff;
}

#btn_section3:hover,
#btn_section3:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#btn_section3:active {
  background: var(--color);
  color: #fff;
}

#btn_section4:hover,
#btn_section4:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#btn_section4:active {
  background: var(--color);
  color: #fff;
}

#btn_section1,
#btn_section2,
#btn_section3,
#btn_section4 {
  /* Your existing CSS styles for the buttons */

  /* Add margin to create space between the buttons */
  margin-bottom: 10px;
}